/* >>> CUSTOM QUERIES <<< */

@media screen and (max-width: 1700px) {
  .about-us-section .paragraph-container:first-child {
    margin-right: 200px;
  }
}

@media screen and (max-width: 1600px) {
  .team-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .team-container .team-item img {
    width: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .hero-text {
    margin-right: 8rem;
    width: 450px;
  }

  .hero-text .title,
  .erp-section .title,
  .pwr-platform-section .title {
    font-size: 55px;
  }

  .hero-text,
  .erp-info p,
  .pwr-platform-info p {
    max-width: 450px;
  }

  .hero-image img {
    width: 450px;
  }

  .hero-line {
    bottom: -7rem;
  }

  .hero-line img {
    width: 450px;
  }

  .erp-image img {
    width: 350px;
    margin-right: 150px;
  }

  .pwr-platform-image img {
    width: 360px;
    margin-left: 150px;
  }

  .pwr-platform-bg-circle img {
    height: 900px;
  }

  .about-us-content {
    width: 80%;
  }

  .about-us-section .paragraph-container:first-child {
    margin-right: 100px;
  }
}

/* >>> SMALL LAPTOP SCREEN SIZE: 1024px <<< */

@media screen and (max-width: 1024px) {
  .nav-links,
  .language-links {
    font-size: 12px;
  }

  .language-links {
    margin-left: 5rem;
  }

  .logo img {
    height: 50px;
  }

  .hero-text {
    margin-right: 2rem;
    width: 350px;
  }

  .hero-text .title,
  .erp-info .title,
  .pwr-platform-info .title {
    font-size: 35px;
  }

  .hero-text p,
  .erp-info p,
  .pwr-platform-info p {
    font-size: 14px;
    max-width: 350px;
  }

  .about-us-info {
    font-size: 16px;
  }

  .about-us-section .paragraph-container p,
  .about-us-section .second-paragraph-container p,
  .contact-info-container .contact-container span,
  .contact-info-container .contact-nav a {
    font-size: 14px;
  }

  .contact-info-container .contact-container {
    flex-direction: column;
  }

  .contact-info-container .contact-container .contact-item:first-child {
    margin-right: 20px;
  }

  .about-us-section .second-paragraph-container p {
    margin-left: 100px;
  }

  .hero-image img {
    width: 350px;
  }

  .erp-image img {
    width: 300px;
    margin-right: 100px;
  }

  .pwr-platform-image img {
    width: 300px;
    margin-left: 100px;
  }

  .pwr-platform-bg-circle img {
    height: 700px;
  }

  .hero-line img {
    width: 300px;
  }

  .about-us-section .first-paragraph-container {
    flex-direction: column;
  }

  .about-us-section .second-paragraph-container img {
    width: 300px;
  }

  .about-us-section .paragraph-container:first-child {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* >>> TABLET SCREEN SIZE: 769px <<< */

@media screen and (max-width: 769px) {
  .desktop-nav {
    display: none;
  }

  .hamburger-nav {
    display: flex;
  }

  .hamburger-nav .logo img {
    height: 30px;
  }

  .hamburger-menu .menu-links .language-links {
    margin-left: auto;
  }

  .hero-section,
  .erp-section,
  .pwr-platform-section,
  .about-us-section,
  .team-section,
  .contact-info-container,
  .copyright-container,
  .divider {
    display: none;
  }
}
