/* >>> CUSTOM QUERIES <<< */

@media screen and (max-width: 1400px) {
  .hero-text {
    margin-right: 8rem;
    width: 450px;
  }

  .hero-text .title,
  .erp-section .title {
    font-size: 55px;
  }

  .hero-text,
  .erp-info p {
    max-width: 450px;
  }

  .hero-image img {
    width: 450px;
  }

  .erp-image img {
    width: 350px;
    margin-right: 150px;
  }

  .hero-line {
    bottom: -7rem;
  }

  .hero-line img {
    width: 450px;
  }
}

/* >>> SMALL LAPTOP SCREEN SIZE: 1024px <<< */

@media screen and (max-width: 1024px) {
  .nav-links,
  .language-links {
    font-size: 12px;
  }

  .language-links {
    margin-left: 5rem;
  }

  .logo img {
    height: 50px;
  }

  .hero-text {
    margin-right: 2rem;
    width: 350px;
  }

  .hero-text .title,
  .erp-info .title {
    font-size: 35px;
  }

  .hero-text p,
  .erp-info p {
    max-width: 350px;
  }

  .hero-image img {
    width: 350px;
  }

  .erp-image img {
    width: 300px;
    margin-right: 100px;
  }

  .hero-line img {
    width: 300px;
  }
}

/* >>> TABLET SCREEN SIZE: 769px <<< */

@media screen and (max-width: 769px) {
  .desktop-nav {
    display: none;
  }

  .hamburger-nav {
    display: flex;
  }

  .hamburger-nav .logo img {
    height: 30px;
  }

  .hamburger-menu .menu-links .language-links {
    margin-left: auto;
  }

  .hero-section,
  .erp-section,
  .divider {
    display: none;
  }
}
