/* >>> General Styling <<< */

/* >> Custom Colors << */

:root {
  --nav-bg-color: #263238;
  --text-color-white: #eeeeee;
  --primary-color: #00a9bd;
  --body-color: #e3e3e3;
  --btn-bg-color: #ff7f5c;
  --btn-bg-color-hover: #dc6848;
  --section-title-color: #4d4d4d;
  --text-color: #717171;
  --section-dark-bg-color: #1a1a1a;
  --copyright-bg-color: #161d21;
}

/* >> Custom Fonts << */

@font-face {
  font-family: "NavbarFont";
  src: url("./assets/fonts/avenir.ttf");
}

@font-face {
  font-family: "PageFontExtraBold";
  src: url("./assets/fonts/inter-extra-bold.otf");
}

@font-face {
  font-family: "PageFontBold";
  src: url("./assets/fonts/inter-bold.otf");
}

@font-face {
  font-family: "PageFont";
  src: url("./assets/fonts/inter-regular.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

.title {
  font-family: "PageFontBold";
  font-size: 64px;
}

p {
  font-family: "PageFont";
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/* >>> Transition Styling <<<*/

a,
.btn {
  transition: all 300ms ease;
}

/* >>> Navbar Styling <<< */

nav,
.links,
.nav-links,
.language-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
  font-family: "NavbarFont";
  width: 100%;
  background-color: var(--nav-bg-color);
}

.nav-links {
  list-style: none;
  font-size: 16px;
  gap: 2rem;
  text-transform: uppercase;
}

.language-links {
  margin-left: 8rem;
  list-style: none;
  font-size: 16px;
  gap: 1rem;
}

.nav-links a,
.language-links a {
  color: var(--text-color-white);
  text-decoration: none;
  position: relative;
}

.nav-links a:after,
.language-links a:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--text-color-white);
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}

.nav-links a:hover:after,
.nav-links a.active:after,
.language-links a.active:after,
.language-links a:hover:after {
  width: 100%;
}

/* >> Desktop Navbar Styling << */

.desktop-nav {
  height: 108px;
}

/* >> Mobile Navbar Styling << */

.hamburger-nav {
  display: none;
  height: 108px;
  position: relative;
}

.hamburger-menu {
  display: inline-block;
}

.hamburger-icon {
  height: 18px;
  width: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--text-color-white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
}

.hamburger-icon span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 8px;
}

.hamburger-icon span:nth-child(4) {
  top: 16px;
}

.hamburger-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}

.hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.hamburger-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.hamburger-menu .menu-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: 100%;
  height: calc(100vh - 108px);
  background-color: var(--primary-color);
  left: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.hamburger-menu .menu-links a {
  display: block;
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: var(--text-color-white);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.hamburger-menu .menu-links .language-links {
  padding: 30px 20px 20px 20px;
}

.hamburger-menu .menu-links .language-links a {
  display: block;
  padding: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

.hamburger-menu .menu-links .logo {
  display: flex;
  justify-content: center;
  padding: 30px 0 40px 0;
}

.hamburger-menu .menu-links .logo img {
  height: 55px;
}

.hamburger-menu .menu-links li {
  list-style: none;
}

.hamburger-menu .menu-links.open {
  max-height: calc(100vh - 108px);
}

/* >> Hero Section Styling << */

.hero-section {
  padding-top: 108px;
  width: 100%;
  height: 672px;
  background-image: url("./assets/images/hero-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  position: relative;
}

.hero-image img {
  width: 520px;
}

.hero-line {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero-line img {
  width: 500px;
}

.hero-text {
  font-size: 16px;
  width: 710px;
  color: var(--text-color-white);
  margin-top: 3rem;
  margin-right: 10rem;
}

.hero-text p {
  margin: 30px 0 0 0;
  width: 100%;
  font-size: 16px;
  max-width: 550px;
}

.hero-text .title span {
  color: var(--primary-color);
  font-family: "PageFontExtraBold";
}

/* >>> Divider Styling <<< */

.divider {
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 100%;
}

.gradient-1 {
  background: linear-gradient(
    90deg,
    rgba(38, 50, 56, 1) 0%,
    rgba(13, 129, 144, 1) 64%,
    rgba(0, 169, 189, 1) 100%
  );
}

/* >>> Button Styling <<< */

.btn {
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  border: none;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-bg-color-hover);
}

/* >>> ERP Section Styling <<< */

.erp-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 90px 0;
}

.erp-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.erp-info .title {
  margin-bottom: 55px;
  color: var(--section-title-color);
}

.erp-image img {
  width: 400px;
  margin-right: 200px;
}

.erp-info p {
  max-width: 550px;
  margin-bottom: 70px;
  color: var(--text-color);
}

/* >>> Power Platform Section Styling <<< */

.pwr-platform-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 90px 0;
  background-color: var(--section-dark-bg-color);
  position: relative;
  overflow: hidden;
}

.pwr-platform-bg-circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;
}

.pwr-platform-bg-circle img {
  height: 1200px;
}

.pwr-platform-content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 80%;
}

.pwr-platform-info .title {
  margin-bottom: 80px;
  max-width: 400px;
  color: #ffffff;
}

.pwr-platform-info .title span {
  color: var(--primary-color);
  font-family: "PageFontExtraBold";
}

.pwr-platform-image img {
  width: 480px;
  margin-left: 240px;
}

.pwr-platform-info p {
  max-width: 660px;
  margin-bottom: 60px;
  color: var(--text-color-white);
}

/* >>> About Us Section Styling <<< */

.about-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.about-us-content .title {
  margin-bottom: 40px;
}

.about-us-content .title span {
  color: var(--primary-color);
  font-family: "PageFontExtraBold";
}

.about-us-content .about-us-info {
  color: var(--text-color);
  font-size: 20px;
  max-width: 500px;
  margin-bottom: 60px;
}

.about-us-section .first-paragraph-container,
.about-us-section .paragraph-container,
.about-us-section .second-paragraph-container {
  display: flex;
  align-items: center;
}

.about-us-section .paragraph-container:first-child {
  margin-right: 300px;
}

.about-us-section .paragraph-container img {
  width: 125px;
}

.about-us-section .second-paragraph-container img {
  width: 400px;
}

.about-us-section .paragraph-container p {
  color: var(--text-color);
  max-width: 400px;
  margin-left: 30px;
}

.about-us-section .second-paragraph-container {
  margin-top: 180px;
  justify-content: space-around;
}

.about-us-section .second-paragraph-container p {
  color: var(--text-color);
  max-width: 630px;
  margin-left: 160px;
}

/* >>> Team Section Styling <<< */

.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.team-content .title {
  margin-bottom: 120px;
}

.team-content .title span {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: "PageFontExtraBold";
}

.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.team-container .team-item img {
  width: 340px;
}

.team-container .team-item p {
  margin-top: 30px;
  font-size: 26px;
  font-family: "PageFontExtraBold";
}

.team-container .team-item p .item-blue {
  color: var(--primary-color);
}

.team-container .team-item p .item-gray {
  font-size: 18px;
  font-family: "PageFont";
  color: var(--text-color);
}

/* >>> Copyright Footer Styling <<< */

.copyright-container {
  width: 100%;
  height: 80px;
  background-color: var(--copyright-bg-color);
  color: white;
  display: flex;
  font-family: "PageFont";
  justify-content: space-between;
  align-items: center;
}

.copyright-container span:first-child {
  margin-left: 60px;
}

.copyright-container .right-part {
  margin-right: 60px;
}

.copyright-container .right-part span:first-child {
  margin-right: 30px;
}

.copyright-container span {
  text-transform: uppercase;
}

/* >>> Contact Footer Styling <<< */

.contact-info-container {
  width: 100%;
  height: 170px;
  background-color: var(--nav-bg-color);
  color: white;
  display: flex;
  font-family: "PageFont";
  justify-content: space-between;
  align-items: center;
}

.contact-info-container .logo {
  margin-left: 60px;
}

.contact-info-container .logo img {
  width: 135px;
}

.contact-info-container .contact-container,
.contact-info-container .contact-container .contact-item {
  display: flex;
  align-items: center;
}

.contact-info-container .contact-container .contact-item img {
  width: 28px;
  margin-right: 10px;
}

.contact-info-container .contact-container .contact-item:first-child {
  margin-right: 50px;
}

.contact-info-container .contact-nav {
  margin-right: 60px;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}

.contact-info-container .contact-nav li {
  margin-bottom: 20px;
}

.contact-info-container .contact-nav li:last-child {
  margin-bottom: 0;
}

.contact-info-container .contact-nav a {
  text-decoration: none;
  color: white;
}
