/* >>> General Styling <<< */

/* >> Custom Colors << */

:root {
  --nav-bg-color: #263238;
  --text-color-white: #eeeeee;
  --primary-color: #00a9bd;
  --primary-color-accent: #00c2d8;
  --primary-hover-color: #0e8390;
  --body-color: #e3e3e3;
  --btn-bg-color: #ff7f5c;
  --btn-bg-color-hover: #dc6848;
  --section-title-color: #4d4d4d;
  --text-color: #717171;
  --section-dark-bg-color: #1a1a1a;
  --copyright-bg-color: #161d21;
  --copyright-mobile-bg-color: #3c444c;
  --slider-track-color: #bebebe;
  --disabled-text-color: #d4d4d4;
  --mobile-text-color: #58595b;
}

/* >> Custom Fonts << */

@font-face {
  font-family: "PageFontExtraBold";
  src: url("../assets/fonts/inter-extra-bold.otf");
}

@font-face {
  font-family: "PageFontBold";
  src: url("../assets/fonts/inter-bold.otf");
}

@font-face {
  font-family: "PageFont";
  src: url("../assets/fonts/inter-regular.otf");
}

@font-face {
  font-family: "MobileFont";
  src: url("../assets/fonts/manrope-regular.otf");
}

@font-face {
  font-family: "MobileFontBold";
  src: url("../assets/fonts/manrope-bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

.title {
  font-family: "PageFontBold";
  font-size: 64px;
}

p {
  font-family: "PageFont";
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.input-style {
  border: none;
  font-family: "PageFont";
  border-bottom: 1px solid black;
  background: transparent;
  padding: 5px 0;
  width: 250px;
}

.input-style:focus,
.input-style:focus-visible {
  outline: none;
}

.input-style::placeholder {
  color: black;
  font-family: "PageFont";
  font-size: 14px;
  text-transform: capitalize;
}

/* >>> Transition Styling <<<*/

a,
.btn {
  transition: all 300ms ease;
}

/* >>> Navbar Styling <<< */

nav,
.links,
.nav-links,
.language-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
  font-family: "PageFont";
  width: 100%;
  background-color: var(--nav-bg-color);
}

.nav-links {
  list-style: none;
  font-size: 16px;
  gap: 2rem;
  text-transform: uppercase;
}

.language-links {
  margin-left: 8rem;
  list-style: none;
  font-size: 16px;
  gap: 1rem;
}

.nav-links a,
.language-links a {
  color: var(--text-color-white);
  text-decoration: none;
  position: relative;
}

.nav-links a:after,
.language-links a:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--text-color-white);
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}

.nav-links a:hover:after,
.nav-links a.active:after,
.language-links a.active:after,
.language-links a:hover:after {
  width: 100%;
}

/* >> Desktop Navbar Styling << */

.desktop-nav {
  height: 108px;
}

/* >> Mobile Navbar Styling << */

.hamburger-nav {
  display: none;
  height: 108px;
  position: fixed;
  background: transparent;
}

.hamburger-nav.open,
.hamburger-nav.scrolled {
  background: var(--primary-color) !important;
  transition: background-color 200ms linear;
}

.hamburger-menu {
  display: inline-block;
}

.hamburger-icon {
  height: 18px;
  width: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--text-color-white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
}

.hamburger-icon span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 8px;
}

.hamburger-icon span:nth-child(4) {
  top: 16px;
}

.hamburger-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}

.hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.hamburger-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.hamburger-menu .menu-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: 100%;
  height: calc(100vh - 108px);
  background-color: var(--primary-color);
  left: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.hamburger-menu .menu-links a {
  display: block;
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: var(--text-color-white);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.hamburger-menu .menu-links .language-links {
  padding: 30px 20px 20px 20px;
}

.hamburger-menu .menu-links .language-links a {
  display: block;
  padding: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

.hamburger-menu .menu-links .logo {
  display: flex;
  justify-content: center;
  padding: 30px 0 40px 0;
}

.hamburger-menu .menu-links .logo img {
  height: 55px;
}

.hamburger-menu .menu-links li {
  list-style: none;
}

.hamburger-menu .menu-links.open {
  max-height: calc(100vh - 108px);
}

/* >>> Divider Styling <<< */

.divider {
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 100%;
}

.gradient-1 {
  background: linear-gradient(
    90deg,
    rgba(38, 50, 56, 1) 0%,
    rgba(13, 129, 144, 1) 64%,
    rgba(0, 169, 189, 1) 100%
  );
}

/* >>> Button Styling <<< */

.btn {
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  border: none;
  text-decoration: none;
  color: white;
  font-family: "PageFont";
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-bg-color-hover);
}

/* >>> Partners Section Styling <<< */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.partners-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.partners-content .title {
  font-size: 44px;
  margin-bottom: 110px;
  margin-left: 120px;
}

.partners-content .title span {
  font-family: "PageFontExtraBold";
  color: var(--primary-color);
}

.partners-container {
  background-color: black;
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.partners-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), black);
}

.partners-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.partners-container:hover .partners-slide {
  animation-play-state: paused;
}

.partners-slide {
  display: inline-block;
  animation: 45s slide infinite linear;
}

.partners-slide img {
  height: 80px;
  margin: 0 120px;
}

/* >>> Map Section Styling <<< */

.map-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.map-container img {
  width: 1070px;
}

.map-section .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.map-section .form-container .first-row,
.map-section .form-container .second-row {
  margin-bottom: 18px;
}

.map-section .form-container .first-row .input-style:first-child,
.map-section .form-container .second-row .input-style:first-child {
  margin-right: 40px;
}

.map-section .form-container textarea {
  width: 100% !important;
  border-color: var(--primary-color);
}

.map-section .form-container textarea::placeholder {
  color: var(--primary-color);
}

.map-section .form-container .btn {
  background-color: var(--primary-color);
  float: right;
  margin-top: 70px;
}

.map-section .form-container .btn:hover {
  background-color: var(--primary-hover-color);
}

/* >>> Copyright Footer Styling <<< */

.copyright-container {
  width: 100%;
  height: 80px;
  background-color: var(--copyright-bg-color);
  color: white;
  display: flex;
  font-family: "PageFont";
  justify-content: space-between;
  align-items: center;
}

.copyright-container span:first-child {
  margin-left: 60px;
}

.copyright-container .right-part {
  margin-right: 60px;
}

.copyright-container .right-part span:first-child {
  margin-right: 30px;
}

.copyright-container span {
  text-transform: uppercase;
}

/* >>> Contact Footer Styling <<< */

.contact-info-container {
  width: 100%;
  height: 170px;
  background-color: var(--nav-bg-color);
  color: white;
  display: flex;
  font-family: "PageFont";
  justify-content: space-between;
  align-items: center;
}

.contact-info-container .logo {
  margin-left: 60px;
}

.contact-info-container .logo img {
  width: 135px;
}

.contact-info-container .contact-container,
.contact-info-container .contact-container .contact-item {
  display: flex;
  align-items: center;
}

.contact-info-container .contact-container .contact-item img {
  width: 28px;
  margin-right: 10px;
}

.contact-info-container .contact-container .contact-item:first-child {
  margin-right: 50px;
}

.contact-info-container .contact-nav {
  margin-right: 60px;
  width: 100px;
  height: 100%;
}
