/* >> Hero Section Styling << */

.custom-hero-section {
  padding-top: 108px;
  width: 100%;
  height: 672px;
  background-image: url("../assets/images/custom-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-hero-content {
  display: flex;
  position: relative;
}

.custom-hero-text {
  font-size: 16px;
  width: 520px;
  color: var(--text-color-white);
}

.custom-hero-text p {
  margin: 70px 0 0 0;
  width: 100%;
  font-size: 16px;
  max-width: 520px;
}

.custom-hero-section .title {
  width: 500px;
}

.custom-hero-text .title span {
  color: var(--primary-color);
  font-family: "PageFontExtraBold";
}

.custom-hero-section .text-right p {
  font-size: 16px;
  width: 520px;
  color: var(--text-color-white);
  margin-top: 220px;
  margin-left: 10rem;
}

/* >>> Title Section Styling <<< */

.custom-title-section {
  height: 210px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.custom-title-content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  width: 80%;
}

.custom-title-content h2 {
  max-width: 850px;
  font-size: 32px;
  font-family: "PageFont";
  color: white;
  z-index: 2;
}

.custom-title-content img {
  width: 1000px;
  position: absolute;
  right: 0;
  z-index: 1;
  top: -50%;
  transform: scale(-1, 1) rotate(90deg);
}
