/* >>> CUSTOM QUERIES <<< */

@media screen and (max-width: 1900px) {
  .products-services-content {
    width: 80%;
  }
}

@media screen and (max-width: 1700px) {
  .about-us-section .paragraph-container:first-child {
    margin-right: 200px;
  }

  .map-container img {
    width: 840px;
  }
}

@media screen and (max-width: 1600px) {
  .team-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .team-container .team-item img {
    width: 300px;
  }

  .pros-content {
    width: 80%;
  }
}

@media screen and (max-width: 1400px) {
  .hero-text {
    margin-right: 8rem;
    width: 450px;
  }

  .products-hero-text {
    width: 450px;
  }

  .hero-text .title,
  .products-hero-text .title,
  .custom-hero-text .title,
  .erp-section .title,
  .pwr-platform-section .title {
    font-size: 55px;
  }

  .products-hero-content {
    width: 80%;
  }

  .hero-text,
  .erp-info p,
  .pwr-platform-info p {
    max-width: 450px;
  }

  .products-hero-text,
  .custom-hero-text {
    max-width: 400px;
  }

  .custom-hero-section .text-right p {
    width: 400px;
    margin-top: 140px;
    margin-left: 6rem;
  }

  .products-hero-image {
    margin-left: 8rem;
    width: 350px;
  }

  .products-hero-image img {
    width: 350px;
  }

  .products-hero-image .circle {
    width: 290px;
    height: 290px;
  }

  .hero-image img {
    width: 450px;
  }

  .hero-line {
    bottom: -7rem;
  }

  .hero-line img {
    width: 450px;
  }

  .erp-image img {
    width: 350px;
    margin-right: 150px;
  }

  .pwr-platform-image img {
    width: 360px;
    margin-left: 150px;
  }

  .pwr-platform-bg-circle img {
    height: 900px;
  }

  .about-us-content {
    width: 80%;
  }

  .about-us-section .paragraph-container:first-child {
    margin-right: 100px;
  }

  .map-container img {
    width: 620px;
  }

  .map-section .form-container .btn {
    margin-top: 20px;
  }

  .input-style {
    width: 170px;
  }

  .products-title-content img {
    width: 700px;
  }

  .products-services-content .services-item h2 {
    font-size: 26px;
    width: 350px;
  }

  .products-services-content .services-item p {
    width: 350px;
  }

  .focus-content {
    width: 80%;
  }

  .focus-content .focus-item:last-child {
    margin-left: 50px;
  }

  .pros-item:first-child {
    margin-right: 150px;
  }

  .pros-item p {
    font-size: 20px;
  }
}

/* >>> SMALL LAPTOP SCREEN SIZE: 1024px <<< */

@media screen and (max-width: 1024px) {
  .nav-links,
  .language-links {
    font-size: 12px;
  }

  .language-links {
    margin-left: 5rem;
  }

  .logo img {
    height: 50px;
  }

  .hero-text {
    margin-right: 2rem;
    width: 350px;
  }

  .products-hero-text,
  .custom-hero-text {
    width: 300px;
  }

  .custom-hero-section .text-right p {
    width: 300px;
    margin-top: 110px;
    margin-left: 2rem;
  }

  .products-hero-image {
    margin-left: 2rem;
    width: 300px !important;
  }

  .products-hero-image img {
    width: 300px !important;
  }

  .products-hero-image .circle {
    width: 240px;
    height: 240px;
  }

  .hero-text .title,
  .products-hero-text .title,
  .custom-hero-text .title,
  .erp-info .title,
  .pwr-platform-info .title {
    font-size: 35px;
  }

  .hero-text p,
  .products-hero-text p,
  .custom-hero-text p,
  .custom-hero-section .text-right p,
  .erp-info p,
  .pwr-platform-info p {
    font-size: 14px;
    max-width: 350px;
  }

  .about-us-info {
    font-size: 16px;
  }

  .about-us-section .paragraph-container p,
  .about-us-section .second-paragraph-container p,
  .contact-info-container .contact-container span,
  .contact-info-container .contact-nav a,
  .focus-content .focus-item p {
    font-size: 14px;
  }

  .contact-info-container .contact-container {
    flex-direction: column;
  }

  .contact-info-container .contact-container .contact-item:first-child {
    margin-right: 20px;
  }

  .about-us-section .second-paragraph-container p {
    margin-left: 100px;
  }

  .hero-image img,
  .products-hero-image img {
    width: 350px;
  }

  .erp-image img {
    width: 300px;
    margin-right: 100px;
  }

  .pwr-platform-image img {
    width: 300px;
    margin-left: 100px;
  }

  .pwr-platform-bg-circle img {
    height: 700px;
  }

  .hero-line img {
    width: 300px;
  }

  .about-us-section .first-paragraph-container {
    flex-direction: column;
  }

  .about-us-section .second-paragraph-container img {
    width: 300px;
  }

  .about-us-section .paragraph-container:first-child {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .map-container img {
    width: 520px;
  }

  .map-section .form-container {
    margin-top: 20px;
  }

  .map-section .form-container .first-row,
  .map-section .form-container .second-row {
    display: flex;
    flex-direction: column;
  }

  .map-section .form-container .first-row .input-style:first-child,
  .map-section .form-container .second-row .input-style:first-child {
    margin-bottom: 18px;
  }

  .map-section .form-container .btn {
    margin-top: 20px;
    margin-bottom: 40px;
    float: initial;
  }

  .input-style {
    width: 200px !important;
  }

  .map-section .form-container textarea {
    width: 200px !important;
  }

  .products-services-content .services-item h2 {
    font-size: 22px;
    width: 250px;
  }

  .products-services-content .services-item p {
    font-size: 14px;
    width: 250px;
  }

  .pros-row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pros-item:first-child {
    margin-right: 0;
    margin-bottom: 70px;
  }
}

/* >>> TABLET SCREEN SIZE: 769px <<< */

@media screen and (max-width: 769px) {
  .desktop-nav {
    display: none;
  }

  .hamburger-nav {
    display: flex;
  }

  .hamburger-nav .logo img {
    height: 30px;
  }

  .hamburger-menu .menu-links .language-links {
    margin-left: auto;
  }

  .hero-section,
  .products-hero-section,
  .custom-hero-section,
  .erp-section,
  .pwr-platform-section,
  .about-us-section,
  .team-section,
  .contact-info-container,
  .copyright-container,
  .partners-section,
  .map-section,
  .products-title-section,
  .products-services-section,
  .focus-section,
  .pros-section,
  .divider {
    display: none;
  }
}
